.body {
    font-family: 'Baloo Da 2', cursive;
}

.banner-container {
    background-color: #102040;
}

.banner-col {
    background-color: #7155ec91;
}

.navbar {
    background-color: rgb(55, 9, 77);
}

.about-container {
    background-color: #01BBBD;
}

.profile-container {
    background-color: #01BBBD;
}

.education-container {
    background-color: #102040;
}

.bg-soil {
    background-color: #C96A66;
}

.color-soil {
    color: #C96A66;
}

.circle {
    background-color: #C96A66;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}